.app {
  height: 100vh;
  
  .sections {
    overflow: scroll;
    height: calc(100vh - 70px);
    background-color: pink;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;  //for firefox
    &::-webkit-scrollbar{
        display: none
    };

     > *{
      height: calc(100vh - 70px);
      scroll-snap-align: end;

    }
  }
}
